@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Ubuntu&display=swap');
body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    /* height: 100vh; */
    color: white;
}

.header {
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    background-size: contain;
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(../images/1200px-Znak_kachestva_2.svg.png);
    background-repeat: no-repeat;
}

.form {
    position: relative;
}

.form__button {
    display: block;
    background-image: url(../images/search-form__search-icon.svg);
    width: 20px;
    height: 20px;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header__link {
    color: #fff;
    text-decoration: none;
}

.header__link-active {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    border-radius: 10px;
    padding: 10px 20px;
}

.danger-text {
    color: #ff4400;
  }
  
  .danger-block {
    padding: 5px 10px;
  
    background-color: #9a3814;
  }
  
  .no-danger-block {
    padding: 5px 10px;
  
    background-color: rgb(15, 139, 127);
  }

  /* pre {
    color: #181E41;
  } */

  .browser-table {
    width: 50%;
    color: lightgray;
    background-color: #181E41;
    border: 3px solid black;
    border-collapse: collapse;    
  }
  
  td, th {
    border: 3px solid lightgray;
    padding: 10px;
  }

  .registration-form {
    display: grid;
    justify-content: center;
    margin: 50px;
    border: solid 3px #ff4400;
  } 

  .square {
    width: 100px;
    height: 100px;
  }

